html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 60px;
}

.article {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.article a {
    text-decoration: none;
    color: #259286;
}

.article a:hover, .article a:focus {
    color: #092832;
}

.article-item {
    margin-bottom: 1rem;
    margin-left: 2rem;
    overflow: auto;
    font: 300 18px/33px 'Merriweather', Georgia, serif;
    border-bottom: 1px dashed #efefef;
}

.article-date {
    margin-top: 1rem;
    margin-bottom: 0;
    display: block;
    font: 400 14px/1.1 "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
    color: #ccc;
}

.article-title {
    margin-left: 5px;
    word-wrap: break-word;
    word-break: break-all;
}

.navbar {
    margin-bottom: 20px;
}

.navbar-custom {
    background-color: #ffffff;
    border: transparent;
}

@media (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.container .text-muted {
    /*margin: 20px 0;*/
    margin-left: 20px;
}

