<!DOCTYPE html>
<html>
<!--
thanks to editor.md & bootstrap-tagsinput.
URL: https://pandao.github.io/editor.md/
URL: http://timschlechter.github.io/bootstrap-tagsinput/examples/
-->
<head lang="en">
    <meta charset="UTF-8">
    <title>editor</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='/static/css/editormd.css' rel='stylesheet'>
    <link href="/static/css/editor.css" rel="stylesheet">
    <link href="/static/css/bootstrap-tagsinput.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>

    <div style="text-align: center">
        <form method="post" action="{{request.uri}}">
            <div class="form-group" style="margin-top: 1rem">
                <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Enter Title" required="true">
            </div>
            <div id="test-editormd">
                    <textarea style="display:none;">

                    </textarea>
            </div>
            <div class="form-group" style="margin-top: 1rem">
                <input type="text" name="tags" data-role="tagsinput" class="form-control" placeholder="Enter Tags separated with Comma" />
            </div>
            <div style="width:100%; margin: 1rem auto">
                <button class="btn btn-primary" type="submit"/>Submit</button>
            </div>
        </form>
    </div>

    <footer class="footer">
        <p>&copy; Company 2014</p>
    </footer>
</div>
<script src="/static/js/jquery-2.1.3.min.js"></script>
<script src="/static/js/editormd.js"></script>
<script src="/static/js/bootstrap-tagsinput.min.js"></script>
<script type="text/javascript">
    $(function () {
        var testEditor = editormd("test-editormd", {
            width: "100%",
            height: 640,
            saveHTMLToTextarea: true,
            path: '/static/editor/'
        });

        //testEditor.getMarkdown();       // 获取Markdown源码
        //testEditor.getHTML();           // 获取Textarea保存的HTML源码
        //testEditor.getPreviewedHTML();  // 获取预览窗口里的HTML，在开启watch且没有开启saveHTMLToTextarea时使用
    });
</script>
</body>
</html>