<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>blog index</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/index.css" rel="stylesheet">
</head>

<body>
<div class="container">
    <div class="header">
        <nav>
            <ul class="nav nav-tabs pull-right">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">About</a></li>
            </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
    </div>

    <div class="article">
        {% for article in articles %}
        <div class="article-item">
            <span class="post-date article-date">{{article.publish_time}}</span>
            <a href="/id/{{article.id}}" class="article-title">
                {{article.title}}
            </a>
        </div>
        {% end %}
    </div>

    <footer class="footer">
        <p>&copy; Company 2014</p>
    </footer>
</div>
</body>
</html>