<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>login success</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link href="/static/css/login.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div id="success-signin">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="glyphicon-class">login success</span>
    </div>
</div>

</body>
</html>